table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#task3p1 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

#task3p2 {
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif
}

#task3p3 {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}

#task4p1 {
  color: orange;
}

#task4p2 {
  color: #d9871b;
}

#task4p3 {
  color: green;
}
